{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дилеры</title>
    <link rel="stylesheet" href="{% static 'css/dealers.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <header class="header">
        <a href="www.geely.com" class="header-logo">
          <img
            class="header-logo-image"
            src="{% static 'images/logo.png' %}"
            alt="Geely"
            width="40"
            height="40"
            loading="lazy"
          />
        </a>
        <script src="{% static 'scripts/nav.js' %}"></script>
        <script>nav_main("dealers");</script>
        <div class="lang-contant parent-element"></div>
    </header>
    <p class="title-partner">Дилеры</p>
    <div class="main_content">
        <div class="element">
            <div class="image_box">
                <img src="{% static 'images/dealers/avtomir.png' %}" alt="">
            </div>
        </div>
        <div class="element">
            <div class="image_box">
                <img src="{% static 'images/dealers/favorit.png' %}" alt="">
            </div>
        </div>
        <div class="element">
            <div class="image_box">
                <img src="{% static 'images/dealers/germes.png' %}" alt="">
            </div>
        </div>
    </div>
</body>
</html>
